.HomePage {
  padding: 20px;
  background-color: #faf0e6;
}

h1 {
  font-size: 30px;
  /* color: #333; */
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  /* color: #444; */
  margin-bottom: 50px;
}

p {
  font-size: 16px;
  /* color: #666; */
  line-height: 1.5;
  margin-bottom: 15px;
  word-wrap: break-word;
  max-width: 72ch;
}

img {
  float: right;
  width: 500px; /* Set your desired width */
  height: auto; /* Preserve aspect ratio */
  margin-top: 80px;
}

.container {
  display: flex;
}

.box {
  padding: 60px;
}